<%- include ../partials/header.ejs %> 

<!--Edit page-->

<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <h1><%= title %></h1>

      <form class="form" method="POST">
        <div class="form-group">
          <label for="name">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            placeholder="Enter Name"
            autocomplete="off"
            name="title"
            value="<%= books.Title %>"
            required
          />
        </div>
        
        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="number"
            class="form-control"
            id="price"
            placeholder="Enter Price"
            name="price"
            autocomplete="off"
            value="<%= books.Price %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input
            type="text"
            class="form-control"
            id="author"
            placeholder="Enter Author"
            name="author"
            autocomplete="off"
            value="<%= books.Author %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="genre">Genre</label>
          <input
            type="text"
            class="form-control"
            id="genre"
            placeholder="Enter Genre"
            name="genre"
            autocomplete="off"
            value="<%= books.Genre %>"
            required
          />
        </div>

        <button class="btn btn-primary" type="submit">Edit</button>

        <a href="/books" class="btn btn-warning"> Cancel</a>
      </form>
    </div>
  </div>
</div>

 <%- include ../partials/footer.ejs %>
